<!doctype html>

<html><head>
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="resources/images/streamonce/favicon-3.png">
    <title>streamOnce</title>

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <!-- <link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css"> -->
    
    
    <link rel="stylesheet" href="css/jquery-ui-1.9.0.custom.css" type="text/css">
    
    <link rel="stylesheet" href="css/prodactive.css" type="text/css">
    
    
    <!-- HTML5 shim for IE backwards compatibility -->
    	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
        
    


<!-- Chris Added -->
<div class="wrapper">

    <div id="header"><div><div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">

            <!--add placeholder for menus in small resolution screens-->
            
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">streamOnce</a>
            <!--build the navigation menu-->
            <!--for action menus (with no sub menus) create a one item list-->
            

            
            <ul class="nav">

                <!--if there's a tooltip then add it-->
                <li class=""><a href="#" action="content" rel="tooltip" title="content">Content</a>
                </li><li><a href="#" action="teamplace" rel="tooltip" title="teamplace">Team Places</a>
                </li><li class="active"><a href="#" action="myplace" rel="tooltip" title="myplace">My Social Inbox</a>
                </li>

            </ul>

            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ilan@streamonce.com <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li class="divider"></li>-->
                        <li><a href="#" action="logout"><i class="icon-off"></i> logout</a></li>
                    </ul>
                </li>
            </ul>
            
            <!--</div>-->
        </div>
    </div>
</div></div></div>
    <div id="breadcrumbs"></div>
    <div id="content">
        <div id="content_header"></div>
        <div id="content_body"><div>
<br>
<div class="container">
    <div class="row">
            <!-- I turned this off: <span class="span12 alert alert-info">Bring the below private emails to my stream:</span> -->
            
            <span class="span12"> <h1>Connect Your Personal Emails to Your Social Streams </h1></span>           
            <span class="span12"> <h2>Ut wisi quis nostrud enim ad minim veniam, quis nostrud exerci tatio nenim adquis nostrud minim. </h2></span>
            
    </div>

    <div class="row">
        <div class="span12">
            <table class="table table-condensed">
                <thead>
                    <tr><td></td>
                    <td>Multi-value fields. Use commas between words. I.e. Subject contains: Joe,action item,important </td>
                </tr></thead>
                
                <tbody><tr>
                    <td class="td_style">
                        <input class="so_checkbox" id="checkbox4" type="checkbox" inputid="input4" value="">&nbsp;
                    <span class="text  text-success">Subject contains
                    </span></td>

                    <td class="td_style ">
                        <input disabled="true" class="so_myplacerules input-large login-field td_style" checkboxid="checkbox4" id="input4" type="text" value="">
                    </td>
                </tr>
                
                <tr>
                    <td class="td_style">
                        <input class="so_checkbox" id="checkbox5" type="checkbox" inputid="input5" value="">&nbsp;
                    <span class="text  text-success">'Sent-to' contains
                    </span></td>

                    <td class="td_style ">
                        <input disabled="true" class="so_myplacerules input-large login-field td_style" checkboxid="checkbox5" id="input5" type="text" value="">
                    </td>
                </tr>
                
                <tr>
                    <td class="td_style">
                        <input class="so_checkbox" id="checkbox6" type="checkbox" inputid="input6" value="">&nbsp;
                    <span class="text  text-success">'Sent-from' contains
                    </span></td>

                    <td class="td_style ">
                        <input disabled="true" class="so_myplacerules input-large login-field td_style" checkboxid="checkbox6" id="input6" type="text" value="">
                    </td>
                </tr>
                
                <tr>
                    <td class="td_style">
                        <input allemail="true" class="so_checkbox_all" id="checkbox7" type="checkbox" inputid="input7" value="">&nbsp;
                    <span class="text  text-info ">Bring my entire inbox
                    </span></td>

                    <td class="td_style  spinner ">
                        <input disabled="true" class="so_myplacerules input-large login-field td_style" checkboxid="checkbox7" id="input7" type="text" value="">
                    </td>
                </tr>
                
            </tbody></table>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="span2 offset10">
            <button class="btn btn-custom">Save</button>
            <span><img src="resources/images/spinner.gif" id="spinner" width="24px" height="24px" class="spinner"></span>
        </div>
        <div class="span5">
            <span id="saveSuccess" class="spinner label label-success">Information Saved Successfully</span>
        </div>
    </div>
</div></div></div>
    </div>
    

<div id="error"></div>


<script type="text/javascript">
    var session = {};
    session.loggedInUser = '{"userName":"ilan@streamonce.com","name":"ilan@streamonce.com","id":null,"enabled":true,"roles":[{}],"oathToken":null,"userSocialGroups":[],"userSystemConfigurations":[],"systemType":"jive","dateCreated":null,"dateModified":null,"serverNode":null,"password":""}' || "{}";
    session.locale = 'en' || "";
</script>


<script data-main="resources/js/main" src="/resources/js/libs/require/require.js"></script>
<script src="/resources/js/libs/jquery/jquery-min.js"></script>
<script src="/resources/js/libs/jqueryui/js/jquery-ui-1.9.0.custom.min.js"></script>
<script src="/resources/js/libs/bootstrap/js/bootstrap.js"></script>

<!-- Chris Added -->
</div>

<footer>
		<div class="container2 row-fluid">
    			<div class="span2">
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&copy; 2012 StreamOnce, Inc</p>
            	</div>
    			<div class="span1 offset6">
				<p><a href="#">Home</a></p>
            	</div>
            	<div class="span1">
				<p><a href="#">About</a></p>
            	</div>
            	<div class="span1">
				<p><a href="#">Contact</a></p>
            	</div>
                
                	
		</div>	
</footer>


</body></html>